# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
examples/clock/unix/upnpclock
examples/upnpavdump/unix/upnpavdump
examples/upnpdump/unix/upnpdump
examples/upnpigddump/unix/upnpigddump

# MacOSX
.DS_Store
project.xcworkspace/
xcuserdata/

# Java
*.class

# Automake
autom4te.cache/*
config.*
.deps/
*.Po
.dirstamp
Makefile
mupnp.pc
stamp-h2

# Test
test/unix/mupnptest
test/unix/mupnptest.*
test/unix/test-suite.log

# Coverage
*.gcno
*.gcda

# Doxygen
doc/html
*.jar
