Source: clinkc
Section: libs
Priority: optional
Maintainer: Heikki Junnila <ext-heikki.junnila@nokia.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: clinkc-dev
Section: devel
Architecture: any
Depends: clinkc0, ${shlibs:Depends}, ${misc:Depends}
Description: CyberLink for C UPnP Library development files
  CyberLink for C UPnP Library development files

Package: clinkc0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CyberLink for C UPnP Library
  CyberLink for C UPnP Library
