name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: setup
      run: |
        sudo apt update
        sudo apt install -y libboost-all-dev
    - name: configure
      run: ./configure --enable-test --enable-examples
    - name: make
      run: make
    - name: make check
      run: make check || more test/unix/test-suite.log
